@tailwind base;
@tailwind components;
@tailwind utilities;

.res-card {
    margin: 5px;
    padding: 1px;
    width: 262px;
    height: 419px;
    transition: border 0.3s;
    border-radius: 8px;
}

.res-logo {
    width: 95%;
}

.search {
    padding: 10px;
    flex: 1;
    display: flex;
}

.res-card:hover {
    cursor: pointer;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
}

.filter-btn{
    margin: 10px;
    cursor: pointer;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
    margin: 5px;
    padding: 5px;
    width: 278px;
    height: 606px;
    background-color: #f0f0f0;
}

.login{
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 17px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: -1rem;
}

.filter {
    display: flex;
}

.search-box {
    width: 95%;
    padding: 8px;
}

.search-button {
    padding: 8px;
    box-sizing: border-box;
    cursor: pointer;
}

.about-page, .help-page, .grocery-page{
    min-height: 536px;
}

.menu{
    min-height: 536px;
}

.company-info{
    width: 45%;
}

.company-info h2 {
    font-size: 1.5em;
}

.address {
    text-align: right;
}

.address h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.address p {
    margin: 0;
}

.offer-carousel, .food-carousel {
    margin-top: 20px;
    position: relative;
}

.offer-slide-arrows, .food-slide-arrows {
    position: absolute;
    top: 8%;
    right: 1%;
    transform: translateY(-50%);
}

.offer-carousel-container, .food-carousel-container{
    display: flex;
    overflow: hidden;
    margin-bottom: 20px;
    width: 100%;
    position: relative;
}

.offer-carousel-item, .food-carousel-item {
    flex: 0 0 auto;
    margin-right: 20px;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.offer-carousel-item img {
    width: 100%;
    max-width: 326px;
    height: 100%;
    border-radius: 20px;
}

.food-carousel-item img {
    border-radius: 8px;
}

.offer-carousel-item:hover, .food-carousel-item:hover{
    border: 1px solid #4caf50;
    cursor: pointer;
}

.scroll-button {
    background-color: #f0f0f0;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 15px;
    margin-left: 10px;
    transition: background-color 0.3s;
}

.scroll-button:hover {
    background-color: #4caf50;
}

.link-like-text {
    color: black;
    text-decoration: none;
    cursor: text;
}

.user-card{
    margin: 5px;
    padding: 5px;
    width: 262px;
    height: 334px;
    border: 1px solid #ddd;
    transition: border 0.3s;
    border-radius: 8px;
}
